
@using CollectionMvc.Models

@model List<Participant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @foreach (Participant item in Model)
    {
        <li>@item.Name, @item.Region</li>
    }
</ul>



